# Окружение
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# macOS system files
.DS_Store

# Log files
*.log

# Redis dump file (если используется)
dump.rdb

# Test output
htmlcov/
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
test-results/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# PyInstaller
*.spec
dist/
build/